<!DOCTYPE html>
<html>
  <head>
    <title>식당 목록</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <label>종류</label>
    <select id="kind_select">
      <option>선택</option>
      <option value="KOREA">한식</option>
      <option value="CHINA">중식</option>
      <option value="JAPAN">일식</option>
      <option value="WESTERM">양식</option>
    </select>
    <label>밥/면</label>
    <select id="seperate_select">
      <option>선택</option>
      <option value="RICE">밥</option>
      <option value="NOODLE">면</option>
    </select>
    <input type="text" id="name" placeholder="식당이름"/>
    <input type="text" id="menu" placeholder="메뉴"/>
    <button onclick="postRestaurant()">식당 등록</button>
    <table>
      <tr>
        <th>IDX</th>
        <th>종류</th>
        <th>밥/면</th>
        <th>이름</th>
        <th>메뉴</th>
      </tr>
      <% rows.forEach((row, index)=>{%>
        <tr>
          <td><%=row.IDX%></td>
          <td><%=row.KIND%></td>
          <td><%=row.SEPERATE%></td>
          <td><%=row.NAME%></td>
          <td><%=row.MENU%></td>
          <td><button onclick="deleteRestaurant('<%=row.IDX%>')">삭제</button></td>
        </tr>
      <%});%>
    </table>
    
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function postRestaurant(){
      const kind = document.getElementById('kind_select').value;
      const seperate = document.getElementById('seperate_select').value;
      const name = document.getElementById('name').value;
      const menu = document.getElementById('menu').value;
      data = {kind : kind, seperate : seperate, name:name, menu: menu};
      axios({
        method:'post',
        url : '/postRestaurant',
        data : data
      }).then((res)=>{
        console.log(res);
        if(res.data.flag){
          alert('정상적으로 처리되었습니다.');
          location.reload();
        }else{
          alert('실패');
        }
      }).catch(error=>{
        console.log(error);
      });
    }

    function deleteRestaurant(_idx){
      const idx = _idx;
      axios({
        method:'post',
        url : '/deleteRestaurant',
        data : {idx:idx}
      }).then((res)=>{
        console.log(res);
        if(res.data.flag){
          alert('정상적으로 처리되었습니다.');
          location.reload();
        }else{
          alert('실패');
        }
      }).catch(error=>{
        console.log(error);
      });
    }
  </script>
</html>
